.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 130px 60px;
    margin-bottom: 160px;

    @media (max-width:738px) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 20px;
    }
  }

  &__show-more {
    padding: 20px 33px;
    background: none;
    border: 1px solid black;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: #333;
      color: white;
    }
  }
}