.icon {
  &__facebook {
    width: 16px;
    height: 16px;
    fill: #626262;
  }

  &__twitter {
    width: 16px;
    height: 16px;
    fill: #626262;
  }

  &__instagram {
    width: 16px;
    height: 16px;
    fill: #626262;
  }

  &__pinterest {
    width: 16px;
    height: 16px;
    fill: #626262;
  }
}